@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.logo-tab {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  color: white;
  cursor: pointer;
}
.logout-tab .logout-button{
  border-radius: 10px;
  background-color: hsl(355, 86%, 49%);
}
.logout-tab .logout-button:hover{
  background-color: hsl(355, 86%, 39%);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#40a9ff, #096dd9);
  width: 100vw;
  height: 100vh;
}

#login-card {
  padding-top: 36px;
  padding-bottom: 50px;
  max-width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
}

.facebook {
  background-color: hsl(221, 44%, 41%);
}
.facebook:hover {
  background-color: hsl(221, 44%, 31%);
}

.google {
  background-color: hsl(217, 89%, 61%);
  color: white;
}
.google:hover {
  background-color: hsl(217, 89%, 51%);
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

.ql-container {
  border: 0 !important;
  border-radius: 20px;
  /* width: 90%; */
  margin: 0 2px !important;
  background-color: #f0f2f5;
  margin-bottom: 5px;
  position: relative;
}
.ql-editor{
  position: relative;
}
.ql-editor::after{
  content: 'Send a message';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #929292;
}
.ql-editor:focus::after{
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #929292;
}
.ql-toolbar{
  border: 0 !important;
}

.ce-my-message-bubble {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
#ce-send-message-button{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}